* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  grid-template-columns: 2fr 1fr;
}

.container {
  display: grid;
  grid-template-columns: 200px 100px;
  height: 100vh;
  width: 120vh;
}

.background {
  background-size: cover;
  height: 120vh;
  width: 125vh;
}

@font-face {
  font-family: "FuturaExtraBold";
  src: url("path-to-your-font/FuturaExtraBold.woff2") format("woff2"),
    url("path-to-your-font/FuturaExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

.ikea-logo {
  display: grid;
  grid-template-columns: auto auto;
  font-family: "Noto Sans ExtraCondensed", sans-serif;
  font-weight: 800;
  font-size: 180px;
  color: #ffc72c;
  padding: 5px 5px;
  border-radius: 5px;
  text-shadow: 1px 1px 0 #000;
}

#copy {
  padding-top: 50px;
  font-size: 0.2em;
  font-weight: 100;
  text-shadow: 1px 1px 0 #000;
}

.row1 {
  display: grid;
  position: absolute;
  transform: translate(60%, 700%);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: aliceblue;
  font-size: 30px;
  text-shadow: 1px 1px 0 #000;
  white-space: nowrap;
}

.line1 {
  display: grid;
  position: absolute;
  border-radius: 60px;
  grid-template-columns: 1fr 1fr;
  width: 20em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  background: linear-gradient(
    to right,
    #ffd700 5px,
    rgba(235, 233, 196, 0.776) 50%
  );
  padding: 10px 80px 10px 10px;
  text-shadow: 1px 1px 0 #000;
  transform: translate(65%, 900%);
}

button {
  background-color: #ffd700;
  text-shadow: 1px 1px 0 #000;
  border-radius: 60px;
  color: aliceblue;
  border: none;
  padding: 12px;
  width: 70%;
  height: 100%;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

button:hover {
  background-color: #9e7807;
}

.line1 span {
  color: aliceblue;
  text-align: center;
  padding: 12px;
  font-size: 15px;
}

.container2 {
  color: aliceblue;
  display: grid;
  grid-template-rows: minmax(100px, auto);
  gap: 9px;
  max-height: 100vh;
  justify-content: end;
}

.box {
  position: relative;
  display: grid;
  padding: 1em 1em auto;
  object-fit: cover;
}

.box img {
  width: 100%;
  border-radius: 1em;
  height: 12.3em;
}

.box span {
  position: absolute;
  top: 1.2em;
  left: 1em;
  font-size: 1em;
  font-weight: 600;
  text-shadow: 1px 1px 0 #000;
  padding: 5px 10px;
}

@media screen and (max-width: 700px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    width: 100%;
    gap: 1em;
    justify-items: center;
  }

  .background {
    height: 115%;
    width: 100%;
    background-size: cover;
    background-position: center;
  }

  .ikea-logo {
    margin-top: -6em;
    font-size: 100px;
  }

  .row1 {
    position: static;
    font-size: 30px;
    transform: translate(0.1em, -11em);
    text-align: center;
  }

  button:hover {
    background-color: #e08b45;
  }

  .line1 {
    transform: translate(0em, 23.9em);
  }

  .container2 {
    grid-row: 2 / span 4;
    display: grid;
    grid-template-rows: repeat(4, 200px);
  }

  .text {
    /* position: absolute; */
    order: -1;
    /* margin-bottom: 10px; */
  }
}
